extends layout

block content
  .row-fluid
    h1= title
      | #{bills.date}
      a.btn.print.print-ignore(href="/print/report/2013/05/21") 列印
    ul.nav.nav-tabs.print-ignore
      li
        a(href="#bills", data-toggle="tab") 帳單報表
      li
        a(href="#steaks-sum", data-toggle="tab") 銷售總計
    .tab-content
      .tab-pane#steaks-sum
        table.table.lead.table-bordered.well
          tr
            th 品名
            th 單價
            th 數量
            th 金額
          each qty in bills.totalQty
            tr
              td= qty._id
              td $#{qty.value.price}
              td= qty.value.qty
              td $#{qty.value.total}
          tr.info
            td 合計
            td
            td= bills.allQty
            td $#{bills.totalTurnOver - (bills.allCreditPrice - bills.allCreditServiceTip)}
        #chart
      .tab-pane#bills
        table.table.table-bordered.table-striped.lead.table-report
          tr
            th 單號
            th 金額
            th 服務費
            th 折扣
            th 總金額
            th 刷卡
          each bill in bills
            tr
              td= bill.billNo
              td= bill.rawPrice
              td= bill.serviceTip
              td= bill.discountTip
              td= bill.donePrice
              if bill.credit == true
                td
                  span.label.label-success 刷卡
              else
                td
          tr.info
            td 合計
            td= bills.allRawPrice
            td= bills.allServiceTip
            td= bills.allDiscountTip
            td= bills.allDonePrice
            td
        table.table.lead.table-bordered.well.table-voucher
          caption 傳票
          tr
            th 會計課目
            th 摘要
            th 金額
            th 會計課目
            th 摘要
            th 金額
          tr
            td 營業額
            td
            td $#{bills.totalTurnOver}
            td 服務費
            td
            td $#{bills.allServiceTip}
          tr
            td 刷卡
            td
            td $#{bills.allCreditPrice - bills.allCreditServiceTip}
            td 刷卡服務費
            td
            td $#{bills.allCreditServiceTip}
          tr
            td
              | &nbsp;
            td
            td
            td
            td
            td
          tr
            td
              | &nbsp;
            td
            td
            td
            td
            td
          tr
            td
              | &nbsp;
            td
            td
            td
            td
            td
          tr
            td
              | &nbsp;
            td
            td
            td
            td
            td
          tr.info
            td 合計
            td
            td $#{bills.totalTurnOver - (bills.allCreditPrice - bills.allCreditServiceTip)}
            td 合計
            td
            td $#{bills.allServiceTip - bills.allCreditServiceTip}
          tr.info
            td 現金總額
            td
            td $#{bills.cash}
            td
            td
            td
        .hero-unit.print-ignore
          h2 現金總額 $#{bills.cash}
            | &nbsp;
            a.btn.btn-large.btn-primary.archive(href='/archive/today') 換班
block scripts
  // Circular sliders and stats
  // Calendar plugin
  script(type='text/javascript', src='/libs/supr/plugins/misc/qtip/jquery.qtip.min.js')
  // Custom tooltip plugin
  script(type='text/javascript', src='/libs/supr/plugins/misc/totop/jquery.ui.totop.min.js')
  // Form plugins
  script(type='text/javascript', src='/libs/supr/plugins/forms/watermark/jquery.watermark.min.js')
  script(type='text/javascript', src='/libs/supr/plugins/forms/uniform/jquery.uniform.min.js')
  // Fix plugins
  script(type='text/javascript', src='/libs/supr/plugins/fix/ios-fix/ios-orientationchange-fix.js')
  // Important Place before main.js
  script(type='text/javascript', src='/libs/supr/js/jquery-ui.min.js')
  script(type='text/javascript', src='/libs/supr/plugins/fix/touch-punch/jquery.ui.touch-punch.min.js')
  // Unable touch for JQueryUI
  // Init plugins
  script(type='text/javascript', src='/libs/supr/js/main.js')
  // Core js functions
  script(type='text/javascript', src='/libs/supr/js/form.js')
  // Init plugins only for page
